{% extends 'vendor/carew/theme-bootstrap/layouts/index.html.twig'%}

{% block posts_title %}
    <h2>Latests blog post:</h2>
{% endblock %}

{% block post %}
    <li>
        <h5>
            <a href="{{ relativeRoot }}/{{ post.path }}">
                <i class="icon-book"></i>
                {{ post.title|capitalize }}
                <small>({{ post.metadatas.date|date('Y-m-d') }})</small>
            </a>
        </h5>
    </li>
{% endblock %}

{% block tags '' %}

{% block ul_class 'unstyled' %}

{% block posts_list %}
    <div style="margin-left:30px">
        {{ parent() }}
    </div>
{% endblock %}
